/* global */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #101214;
    color: #7A7C80;

}

h2,.white{
    color: #ffffffa0;
}

.location{
    margin-left: 8px;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 40vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 70%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

/* Experience section */
.section-2-a h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 3px;
}

/* Experience dates */
.section-2-a p{
    font-size: 1.1rem;
    margin-bottom: -5px;
}

/* Programming Skills section*/
.skills{
    font-size: 1.2rem;
}

.skills ul {
    list-style: square;
}

.skills li {
    margin: 7px 0;
}

.skill-header {
    font-weight: 600;
}

/* Project list styles */
.projects a{
    display: inline;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.projects p{
    font-size: 1.1rem;
    padding-top: 5px;
}

/* animations / utilities */
.section-2 a:hover{
    color: #ffffffa0;
    cursor: pointer;
    transition: 0.2s;
}

/* Links below name */
.section-1 a {
    transition: all 0.7s ease-out;
}

.section-1 a:hover{
    color: #ffffffa0;
    cursor: pointer;
    color: #008f11;
}

/* Logo sign above name */
.white {
    transition: all 1s ease-out;
}

.white:hover{
    position: relative;
    transform: scale(1.15);
    color: #008f11;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}